{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>이그밋</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'todo_styles.css' %}"
    />
    <link rel="icon" type="image/png" href="{% static 'wish.png' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <h1 class='logo-text'>이그밋<span>.</span></h1>
    <h1>할 일 ({{ today|date:"Y년 n월 j일" }})</h1>
    <ul>
      {% for task in tasks %}
        <li>
          {% if task.completed %}
            <s>{{ task.title }}</s> (완료) 
          {% else %}
            {{ task.title }}
            <a href="{% url 'todolist:complete_task' task.id %}" class='comp'>완료</a>
          {% endif %}
          <a href="{% url 'todolist:delete_task' task.id %}" class='del'>삭제</a>
        </li>
      {% endfor %}
    </ul>
    <a href="{% url 'todolist:add_task' %}" class='add'>추가하기</a>

    <div class="bottom-navbar">
      <a href="{% url 'todolist:task_list' %}" class="nav-item">홈</a>
      {% if user.is_authenticated %}
      <a class="nav-item" href="{% url 'common:logout' %}">로그아웃 ({{ user.username }})</a>
      {% else %}
      <a href="{% url 'common:login' %}" class="nav-item">로그인</a>
      {% endif %}

      <a href="{% url 'community:question_list' %}" class="nav-item">커뮤니티</a>

      <a href="{% url 'wishes:wish_list' %}" class="nav-item">소원의 돌</a>
    </div>

    <div class="bottom-right-text">
        <p class = "bottom-first">이번엔 해낼거야<span>.</span></p>
        <p class = 'bottom-second'><span>I</span>'m <span>G</span>onna <span>M</span>ake <span>I</span>t <span>T</span>his <span>T</span>ime</p>
    </div>
  
  </body>
</html>